Repository mjcarterdev/KeepTime: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix, prettier --write

signup working
  src/client/router.jsx
Due: eslint --fix --cache, prettier --write

signup working
  src/client/pages/SignUpPage.jsx
  src/client/providers/authProvider.jsx
Due: eslint --fix --cache, prettier --write

Timer logic and UI done
  package-lock.json
  package.json
Due: prettier --write

cleanup
  src/client/api/axiosClient.js
Due: eslint --fix --cache, prettier --write

Added time record APIs and fixes for response errors.
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
  src/server/controllers/timeRecordController.js
  src/server/models/projectModel.js
  src/server/models/timeRecordModel.js
  src/server/prisma/migrations/20231019193603_add_project_time_record_relation/migration.sql
  src/server/prisma/schema.prisma
  src/server/routes/projectRoutes.js
  src/server/routes/subtaskRoutes.js
  src/server/routes/timeRecordRoutes.js
  src/server/server.js
  src/server/swagger.json
  src/server/validationSchemas/projectSchema.js
  src/server/validationSchemas/subtaskSchema.js
  src/server/validationSchemas/timeRecordSchema.js
Due: eslint --fix --cache, prettier --write

Authentication is working now
  package-lock.json
  package.json
  src/client/App.jsx
  src/client/api/axiosClient.js
  src/client/api/services.js
  src/client/components/Navbar.jsx
  src/client/context/authContext.jsx
  src/client/main.jsx
  src/client/pages/HomePage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/providers/authProvider.jsx
  src/client/router.js
  src/client/router.jsx
  src/client/routes/aboutRoute.js
  src/client/routes/homeRoute.js
  src/client/routes/loginRoute.js
  src/client/routes/profileRoute.js
  src/client/routes/projectsRoute.js
  src/client/routes/rootRoute.js
  src/client/routes/signUpRoute.js
  src/client/stores/authStore.js
  src/server/controllers/authController.js
Due: eslint --fix --cache, prettier --write

changes to buttons
  src/client/pages/HomePage.jsx
Due: eslint --fix --cache, prettier --write

swagger fix
  src/client/context/authContext.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/server/routes/swaggerRoutes.js
  src/server/server.js
Due: eslint --fix --cache, prettier --write

production changes
  package.json
Due: prettier --write

prod changes
  Dockerfile
  package.json
Due: prettier --write

prod stuf
  Dockerfile
Due: none

prod stuff
  fly.toml
Due: none

Update deploy-to-fly.yml
  .github/workflows/deploy-to-fly.yml
Due: none

new env variable
  Dockerfile
Due: none

fixing stuff
  Dockerfile
Due: none

routing error fixed
  src/client/routes/homeRoute.js
Due: eslint --fix --cache, prettier --write

fixed some timer styling
  src/client/api/axiosClient.js
  src/client/components/Timer.jsx
  src/client/images/reset.svg
  src/client/pages/ProjectPage.jsx
  src/server/middleware/middleware.js
  src/server/routes/authRoutes.js
  src/server/utils/jwt.js
Due: eslint --fix --cache, prettier --write

fixing stuff
  index.html
  src/client/api/axiosClient.js
  src/client/components/PageTitle.jsx
  src/client/components/Timer.jsx
  src/client/images/mainButton.svg
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/routes/signUpRoute.js
  src/server/controllers/userController.js
  src/server/middleware/middleware.js
  tailwind.config.js
Due: eslint --fix --cache, prettier --write

auth changes
  src/client/pages/ProfilePage.jsx
  src/server/controllers/authController.js
Due: eslint --fix --cache, prettier --write

Added total duration to project/subtask responses and 'create time record' API endpoint.
  package.json
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
  src/server/controllers/timeRecordController.js
  src/server/models/timeRecordModel.js
  src/server/routes/swaggerRoutes.js
  src/server/routes/timeRecordRoutes.js
  src/server/server.js
  src/server/swagger.json
  src/server/utils/timeUtil.js
Due: eslint --fix --cache, prettier --write

landing page animations
  package-lock.json
  package.json
  src/client/components/AnimatedSun.jsx
  src/client/components/Logo.jsx
  src/client/components/Navbar.jsx
  src/client/hooks/useBreakpoint.js
  src/client/images/skyline.jpg
  src/client/images/skyline.svg
  src/client/index.css
  src/client/pages/HomePage.jsx
  tailwind.config.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

Removed unused data from getUserProjects response and fixed Swagger production issue.
  .babelrc
  package-lock.json
  package.json
  src/server/controllers/projectController.js
  src/server/models/projectModel.js
  src/server/routes/swaggerRoutes.js
Due: eslint --fix --cache, prettier --write

fixed some error handling
  src/client/index.css
Due: stylelint --fix, prettier --write

loading project data in routing and animated land
  .prettierrc.json
  package-lock.json
  package.json
  src/client/api/axiosClient.js
  src/client/api/services.js
  src/client/components/PageTitle.jsx
  src/client/components/ProjectItem.jsx
  src/client/components/ProjectList.jsx
  src/client/hooks/useRaisedShadow.js
  src/client/main.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/pages/SubtaskPage.jsx
  src/client/router.js
  src/client/routes/projectsRoute.js
  src/client/routes/subtaskRoute.js
  src/server/controllers/authController.js
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
  src/server/middleware/middleware.js
  src/server/routes/subtaskRoutes.js
  tailwind.config.js
Due: eslint --fix --cache, prettier --write

Added create project dialog.
  src/client/api/services.js
  src/client/components/modals/CreateProject.jsx
  src/client/pages/ProjectPage.jsx
Due: eslint --fix --cache, prettier --write

project list basic functionality working
  src/client/api/axiosClient.js
  src/client/components/AnimatedSun.jsx
  src/client/components/PageTitle.jsx
  src/client/components/ProjectItem.jsx
  src/client/components/ProjectList.jsx
  src/client/components/Toolbar.jsx
  src/client/index.css
  src/client/pages/ProjectPage.jsx
  src/server/controllers/projectController.js
  src/server/middleware/middleware.js
  tailwind.config.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

Added modal dialogs to add/update project/subtask.
  README.md
  src/client/api/services.js
  src/client/components/modals/AddProjectModal.jsx
  src/client/components/modals/AddSubtaskModal.jsx
  src/client/components/modals/UpdateProjectModal.jsx
  src/client/components/modals/UpdateSubtaskModal.jsx
  src/client/components/modals/buttonsForModals.txt
  src/client/pages/ProjectPage.jsx
Due: eslint --fix --cache, prettier --write

Added a modal for recording time and fixed returning error in responses.
  src/client/api/services.js
  src/client/components/modals/AddTimeModal.jsx
  src/client/components/modals/buttonsForModals.txt
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
  src/server/controllers/timeRecordController.js
Due: eslint --fix --cache, prettier --write

Added update time record and delete project/subtask modal dialogs.
  src/client/api/services.js
  src/client/components/modals/DeleteProjectModal.jsx
  src/client/components/modals/DeleteSubtaskModal.jsx
  src/client/components/modals/UpdateTimeModal.jsx
  src/client/components/modals/buttonsForModals.txt
  src/client/pages/ProjectPage.jsx
Due: eslint --fix --cache, prettier --write

change design style for login page
  package-lock.json
  package.json
  src/client/App.jsx
  src/client/api/axiosClient.js
  src/client/components/AnimatedSun.jsx
  src/client/components/Button.jsx
  src/client/components/Card.jsx
  src/client/components/Form.jsx
  src/client/components/Navbar.jsx
  src/client/components/PageTitle.jsx
  src/client/components/ProjectItem.jsx
  src/client/components/ProjectList.jsx
  src/client/components/Toolbar.jsx
  src/client/index.css
  src/client/main.jsx
  src/client/pages/AboutUsPage.jsx
  src/client/pages/HomePage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/pages/SubtaskPage.jsx
  src/client/pages/timerPage.jsx
  src/client/router.js
  src/client/routes/aboutRoute.js
  src/client/routes/homeRoute.js
  src/client/routes/loginRoute.js
  src/client/routes/profileRoute.js
  src/client/routes/projectsRoute.js
  src/client/routes/rootRoute.js
  src/client/routes/subtaskRoute.js
  src/server/controllers/authController.js
  src/server/middleware/middleware.js
  src/server/routes/authRoutes.js
  tailwind.config.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

fixed authentication errors
  package-lock.json
  package.json
  src/client/api/axiosClient.js
  src/client/components/Button.jsx
  src/client/components/PageTitle.jsx
  src/client/components/ProjectItem.jsx
  src/client/components/Toolbar.jsx
  src/client/context/authContext.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SubtaskPage.jsx
  src/server/auth/jwt.js
  src/server/auth/passport.js
  src/server/controllers/authController.js
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
  src/server/controllers/timeRecordController.js
  src/server/controllers/userController.js
  src/server/middleware/isAuthenticated.js
  src/server/middleware/login-middleware.js
  src/server/middleware/middleware.js
  src/server/middleware/validation.js
  src/server/models/authModel.js
  src/server/prisma/migrations/20231108205350_refresh_tokens_removed/migration.sql
  src/server/prisma/schema.prisma
  src/server/routes/authRoutes.js
  src/server/routes/projectRoutes.js
  src/server/routes/subtaskRoutes.js
  src/server/routes/timeRecordRoutes.js
  src/server/routes/userRoutes.js
  src/server/server.js
  src/server/utils/hashToken.js
Due: eslint --fix --cache, prettier --write

authentication
  src/server/auth/jwt.js
  src/server/middleware/isAuthenticated.js
Due: eslint --fix --cache, prettier --write

project updated
  package-lock.json
  package.json
  src/client/App.jsx
  src/client/api/axiosClient.js
  src/client/api/services.js
  src/client/components/Button.jsx
  src/client/components/EditableTextBox.jsx
  src/client/components/Icon.jsx
  src/client/components/IconButton.jsx
  src/client/components/Navbar.jsx
  src/client/components/ProjectItem.jsx
  src/client/components/Toolbar.jsx
  src/client/context/projectStore.jsx
  src/client/pages/ProjectPage.jsx
  src/client/utils/sort-alphabetically.js
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
  src/server/models/projectModel.js
  src/server/models/subtaskModel.js
  src/server/prisma/schema.prisma
  src/server/routes/timeRecordRoutes.js
  tailwind.config.js
Due: eslint --fix --cache, prettier --write

project stuff
  src/client/components/EditableTextBox.jsx
  src/client/components/Icon.jsx
  src/client/components/ProjectItem.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SubtaskPage.jsx
Due: eslint --fix --cache, prettier --write

able to link to subtask
  src/client/api/services.js
  src/client/components/ProjectItem.jsx
  src/client/pages/SubtaskPage.jsx
  src/client/routes/subtaskRoute.js
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
Due: eslint --fix --cache, prettier --write

routing working and projects and be added
  package-lock.json
  package.json
  src/client/App.jsx
  src/client/components/EditableTextBox.jsx
  src/client/components/Navbar.jsx
  src/client/components/ProjectItem.jsx
  src/client/components/Spinner.jsx
  src/client/context/auth.jsx
  src/client/main.jsx
  src/client/pages/AboutUsPage.jsx
  src/client/pages/ErrorPage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/pages/SubtaskPage.jsx
  src/client/router.js
  src/client/routes/aboutRoute.js
  src/client/routes/homeRoute.js
  src/client/routes/profileRoute.js
  src/client/routes/projectsRoute.js
  src/client/routes/rootRoute.js
  src/client/routes/signUpRoute.js
  src/client/routes/subtaskRoute.js
Due: eslint --fix --cache, prettier --write

added better background
  src/client/App.jsx
  src/client/images/background-lg.jpg
  src/client/images/background-sm.jpg
  src/client/index.css
  src/client/pages/AboutUsPage.jsx
  tailwind.config.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

fixed login issues and scrolling on small mobile.
  src/client/api/axiosClient.js
  src/client/api/services.js
  src/client/components/Card.jsx
  src/client/components/Navbar.jsx
  src/client/components/RoundButtonWithLabel.jsx
  src/client/context/AuthContext.jsx
  src/client/context/auth.jsx
  src/client/hooks/useBreakpoint.js
  src/client/hooks/useLocalStorage.js
  src/client/hooks/useLogin.js
  src/client/hooks/useLogout.js
  src/client/hooks/useRaisedShadow.js
  src/client/hooks/useRegistration.js
  src/client/index.css
  src/client/main.jsx
  src/client/pages/AboutUsPage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/pages/SubtaskPage.jsx
  src/server/controllers/authController.js
  src/server/controllers/projectController.js
  src/server/middleware/isAuthenticated.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

updated dockerfile for production env
  Dockerfile
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,jsx,css,html,json,md,mdx}
