Repository mjcarterdev/KeepTime: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --fix, prettier --write

adding build actions
  .github/workflows/build.yml
Due: none

Added app routing.
  src/client/App.jsx
  src/client/main.jsx
  src/client/views/pages/Home.jsx
  src/client/views/pages/Login.jsx
  src/client/views/pages/SignUp.jsx
Due: eslint --fix --cache, prettier --write

deployment actions
  fly.toml
  package-lock.json
  package.json
  src/client/App.jsx
  src/client/App.test.jsx
  src/test/setup.js
  vite.config.js
Due: eslint --fix --cache, prettier --write

more deployment changes
  .github/workflows/deploy-to-fly.yml
Due: none

testing deployment action
  src/client/App.jsx
Due: eslint --fix --cache, prettier --write

change master to main in yml
  .github/workflows/deploy-to-fly.yml
Due: none

fixed connection to express
  package.json
  src/client/App.jsx
  src/server/server.js
  vite.config.js
Due: eslint --fix --cache, prettier --write

User Interface Working and done
  src/client/App.jsx
  src/client/main.jsx
  src/client/views/components/home.css
  src/client/views/components/home.jsx
  src/client/views/components/loginForm.css
  src/client/views/components/loginForm.jsx
  src/client/views/components/navbar.jsx
  src/client/views/components/registerForm.css
  src/client/views/components/registerForm.jsx
Due: eslint --fix --cache, stylelint --fix, prettier --write

lock update
  package-lock.json
Due: prettier --write

frontend routing added
  src/client/components/Navbar.jsx
  src/client/pages/ErrorPage.jsx
  src/client/pages/HomePage.jsx
Due: eslint --fix --cache, prettier --write

added some navbar stlying
  src/client/components/Navbar.jsx
  src/client/main.jsx
  src/client/pages/AboutUsPage.jsx
  src/client/pages/ErrorPage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/router.jsx
Due: eslint --fix --cache, prettier --write

setting up routing
  src/client/components/Navbar.jsx
  src/client/hooks/authProvider.jsx
  src/client/index.css
  src/client/pages/AboutUsPage.jsx
  src/client/pages/ErrorPage.jsx
  src/client/pages/HomePage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/router.jsx
  src/test/setup.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

fixed navigation and styling of landing
  .devcontainer/devcontainer.json
  src/client/components/Logo.jsx
  src/client/components/Navbar.jsx
  src/client/pages/HomePage.jsx
  src/client/views/components/home.css
  src/client/views/components/home.jsx
  src/client/views/components/loginForm.css
  src/client/views/components/loginForm.jsx
  src/client/views/components/registerForm.css
  src/client/views/components/registerForm.jsx
  tailwind.config.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

login form started
  .prettierrc.json
  package-lock.json
  package.json
  src/client/components/Navbar.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/SignUpPage.jsx
Due: eslint --fix --cache, prettier --write

added prisma and set up postgres
  README.md
  package-lock.json
  package.json
  src/server/.gitignore
  src/server/prisma/migrations/20231013073822_init/migration.sql
  src/server/prisma/migrations/migration_lock.toml
  src/server/prisma/schema.prisma
Due: prettier --write

trying to improve performance
  package-lock.json
  src/client/pages/AboutUsPage.jsx
  src/client/pages/LoginPage.jsx
  src/server/server.js
Due: eslint --fix --cache, prettier --write

stufff
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .dockerignore
  .eslintrc.cjs
  .gitignore
  .prettierrc.json
  README.md
  package.json
  src/client/App.jsx
  src/client/index.css
  src/client/main.jsx
  src/client/pages/SignUpPage.jsx
  src/server/server.js
  tailwind.config.js
  vite.config.js
Due: eslint --fix --cache, stylelint --fix, prettier --write

started adding auth routes and changes to prisma
  package-lock.json
  package.json
  src/client/providers/authProvider.jsx
  src/client/router.jsx
  src/server/controllers/authController.js
  src/server/controllers/projectController.js
  src/server/controllers/userController.js
  src/server/middlewares/authJWT.js
  src/server/prisma/migrations/20231014115705_v2/migration.sql
  src/server/prisma/schema.prisma
  src/server/routes/authRoutes.js
  src/server/routes/projectRoutes.js
  src/server/routes/userRoutes.js
  src/server/server.js
Due: eslint --fix --cache, prettier --write

register endpoint working with postman
  package-lock.json
  package.json
  src/server/controllers/authController.js
  src/server/middlewares/authJWT.js
  src/server/models/authModel.js
  src/server/models/userModel.js
  src/server/routes/authRoutes.js
  src/server/routes/projectRoutes.js
  src/server/routes/userRoutes.js
  src/server/server.js
  src/server/utils/database.js
  src/server/utils/hashToken.js
  src/server/utils/jwt.js
Due: eslint --fix --cache, prettier --write

registering and login backend
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  src/server/controllers/authController.js
  src/server/controllers/userController.js
  src/server/middleware/middleware.js
  src/server/routes/authRoutes.js
  src/server/routes/userRoutes.js
  src/server/utils/jwt.js
Due: eslint --fix --cache, prettier --write

added pgAdmin to development environment
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: prettier --write

added correct port
  .devcontainer/devcontainer.json
Due: prettier --write

basic endpoints for authentication
  src/server/controllers/authController.js
  src/server/controllers/userController.js
  src/server/middleware/middleware.js
  src/server/models/authModel.js
  src/server/routes/userRoutes.js
  src/server/server.js
Due: eslint --fix --cache, prettier --write

validation for authentication added
  src/server/controllers/authController.js
  src/server/middleware/middleware.js
  src/server/routes/authRoutes.js
  src/server/server.js
  src/validationSchemas/authSchema.js
Due: eslint --fix --cache, prettier --write

adding http cookie
  src/client/hooks/useAuth.js
  src/client/stores/authStore.js
  src/client/utils/axiosClient.js
  src/server/controllers/authController.js
  src/server/middleware/middleware.js
  src/server/routes/authRoutes.js
  src/server/server.js
  src/validationSchemas/authSchema.js
Due: eslint --fix --cache, prettier --write

fixed some deployment issues with prisma
  package.json
  src/client/utils/axiosClient.js
  src/server/controllers/authController.js
  src/server/routes/authRoutes.js
  src/server/server.js
  src/server/validationSchemas/authSchema.js
Due: eslint --fix --cache, prettier --write

Added swagger and APIs for project.
  README.md
  package-lock.json
  package.json
  src/server/controllers/authController.js
  src/server/controllers/projectController.js
  src/server/middleware/middleware.js
  src/server/models/projectModel.js
  src/server/prisma/migrations/20231015154623_added_null_values/migration.sql
  src/server/prisma/schema.prisma
  src/server/routes/projectRoutes.js
  src/server/routes/swaggerRoutes.js
  src/server/server.js
  src/server/swagger.js
  src/server/swagger.json
  src/validationSchemas/projectSchema.js
Due: eslint --fix --cache, prettier --write

cookie authentication working
  src/client/api/axiosClient.js
  src/client/api/services.js
  src/client/components/Navbar.jsx
  src/client/hooks/useAuth.js
  src/client/pages/ErrorPage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/router.jsx
  src/client/stores/authStore.js
Due: eslint --fix --cache, prettier --write

registration working
  src/client/pages/SignUpPage.jsx
Due: eslint --fix --cache, prettier --write

removed header authentication
  src/server/middleware/middleware.js
Due: eslint --fix --cache, prettier --write

fixing build error
  src/server/routes/swaggerRoutes.js
Due: eslint --fix --cache, prettier --write

more fixes
  src/server/routes/projectRoutes.js
  src/server/validationSchemas/projectSchema.js
Due: eslint --fix --cache, prettier --write

more attempts at fixing swagger for prod
  package-lock.json
  package.json
  src/server/routes/swaggerRoutes.js
  vite.config.js
Due: eslint --fix --cache, prettier --write

more fixes
  babel.config.json
  package.json
Due: prettier --write

fix maybe?
  babel.config.json
  package-lock.json
  package.json
  src/server/routes/swaggerRoutes.js
  vite.config.js
Due: eslint --fix --cache, prettier --write

test
  src/server/routes/swaggerRoutes.js
Due: eslint --fix --cache, prettier --write

Timer UI and logic implemented
  src/client/App.jsx
  src/client/images/mainButton.svg
  src/client/images/reset.svg
  src/client/pages/HomePage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/pages/timerPage.jsx
  src/client/router.jsx
Due: eslint --fix --cache, prettier --write

protected routes added
  package-lock.json
  package.json
  src/client/api/axiosClient.js
  src/client/api/services.js
  src/client/components/Form.jsx
  src/client/pages/AboutUsPage.jsx
  src/client/pages/LoginPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/ProjectPage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/providers/authProvider.jsx
  src/client/router.jsx
  src/server/controllers/authController.js
  src/server/middleware/middleware.js
  src/server/server.js
Due: eslint --fix --cache, prettier --write

some changes
  package-lock.json
  package.json
  src/client/main.jsx
  src/client/pages/AboutUsPage.jsx
  src/client/pages/ProfilePage.jsx
  src/client/pages/SignUpPage.jsx
  src/client/stores/authStore.js
  src/server/middleware/middleware.js
Due: eslint --fix --cache, prettier --write

APIs for subtasks and minor changes for project routes.
  src/server/controllers/authController.js
  src/server/controllers/projectController.js
  src/server/controllers/subtaskController.js
  src/server/controllers/userController.js
  src/server/middleware/middleware.js
  src/server/models/projectModel.js
  src/server/models/subtaskModel.js
  src/server/prisma/migrations/20231017195416_update_on_delete_cascade/migration.sql
  src/server/prisma/schema.prisma
  src/server/routes/projectRoutes.js
  src/server/routes/subtaskRoutes.js
  src/server/routes/swaggerRoutes.js
  src/server/server.js
  src/server/swagger.js
  src/server/swagger.json
  src/server/validationSchemas/projectSchema.js
  src/server/validationSchemas/subtaskSchema.js
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,jsx,css,html,json,md,mdx}
